/* WebKit (Chrome, Safari) */
/* width */
.parentSidebar{
    /* height: 100vh; */
    position: sticky;
    top: 0;
}
::-webkit-scrollbar {
    width: 15px;
    transition: all.5s !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(59, 58, 58, 0.304);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(153, 100, 1, 0.594);
    cursor: pointer !important;
    border-radius: .8rem;
    transition: all.5s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    transition: all 1s;
    cursor: pointer !important;
    background: rgb(174, 113, 1);
}

/* Firefox */
/* width */
/* * {
    scrollbar-width: thin;
    scrollbar-color: green red;
} */